@import "tailwindcss";

@font-face {
  font-family: "Instrument Sans";
  src: url("assets/InstrumentSans-Bold.ttf") format("truetype");
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Instrument Sans", sans-serif;
  background: var(--color-gray-900);
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}
